/* Reset the default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation  */
nav {
  background-color: rgb(131 197 132);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: #faf9f6;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgb(255 255 255 / 10%);
  color: #fff;
}

/* User box */
.user-box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  padding: 20px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.user-box:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

/* User info  */
.user-info {
  flex: 1;
}

.user-info h2 {
  margin-bottom: 10px;
}

.user-info .description {
  color: #777;
  line-height: 1.4;
}

/* User tasks */
.user-tasks {
  flex: 1;
  text-align: right;
}

.info-user-tasks .task-count {
  margin-bottom: 10px;
  color: #777;
}

.info-task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 5px;
  color: #333;
}

/* Task box */
.task-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  padding: 20px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  position: relative; /* Add this */
}

.task-box-unassigned {
  background-color: #f3dede;
}

.task-box-assigned {
  background-color: #fff;
}

.task-box:hover {
  background-color: #b4eeb577;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

/* Task info */
.task-info {
  flex: 1;
}

.task-info h2 {
  margin-bottom: 10px;
}

.task-info .description {
  color: #777;
  line-height: 1.4;
}

.task-info .owner {
  color: #777;
}

.task-link {
  text-decoration: none;
  color: inherit;
}

/* Assign User container */
.assign-user-container {
  width: 100%;
  margin-bottom: 20px;
}

/* Assign User Component */
.unassigned-tasks-heading {
  color: #8b0000;
}

.section-separator {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 50px;
}

.user-selector {
  width: 100%;
  height: 60%;
}

.user-selector select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 13.1%);
  font-size: 16px;
  color: #333;
  appearance: none;
}

.user-selector select:focus {
  border-color: #c29627;
  outline: none;
  box-shadow: 0 0 4px #98741a;
}

.user-selector button {
  padding: 10px 20px;
  margin-top: 6px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #c29627;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-selector button:hover {
  background-color: #98741a;
}

/* Buttons */
.default-button {
  padding: 10px 20px;
  min-width: 120px;
  border: none;
  border-radius: 4px;
  background-color: rgb(180, 216, 234);
  color: #faf9f6;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  text-decoration: none;
  transition:
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease;
}

.green-button {
  background-color: #83c584;
}

.green-button:hover {
  background-color: #7ab63a;
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
}

.orange-button {
  background-color: #ffa500; /* Action orange */
}

.orange-button:hover {
  background-color: #e59400; /* Darker orange */
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
}

.red-button {
  background-color: #b22222; /* Dark red */
}

.red-button:hover {
  background-color: #8b0000; /* Darker red */
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
}



/* Create-User-Modal */

/* This creates a full-screen backdrop with a semi-transparent black overlay. z-index keeps the backdrop behind the modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

/* The modal is centered on the screen and has a shadow for better visibility */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  z-index: 101;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.modal-user {
  width: 40vw;
}

.modal-edit {
  width: 80vw;
  height: 80vh;
}

/* Modal styling */

/* Aligns the header content with spacing between the title and the close button */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  background: rgb(131 197 132);
  position: relative;
  border-radius: 8px;
  margin-bottom: 10px;
}

.modal-header h2 {
  font-size: 24px;
  color: #333;
  padding: 15px 20px;
}

.small-close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.small-close-button:hover {
  color: #333;
}

/* Left side of the modal (70% width) */
.modal-left {
  flex: 7;
  padding: 20px;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  overflow: auto;
}

/* Right side of the modal (30% width) */
/* Space content from top to bottom */
.modal-right {
  flex: 3;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between; 
  overflow: auto;
}

/* form layout */

/* Stack form elements vertically */
.modal-form-tasks {
  display: flex;
  flex: 1;
}

.model-form-users {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.form-input, .form-text-area {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  box-shadow: inset 0 2px 5px rgb(0 0 0 / 5%);
}

.form-input:focus, .form-text-area:focus {
  border-color: rgb(131 197 132);
  outline: none;
  box-shadow: 0 0 5px rgb(131 197 132);
}

.form-text-area {
  height: 50vh;
}

/* Form Actions */
/* Push the Save button to the right of its container */
.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}



/* User-details */
.info-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Info Right Hand Panel */
.info-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background: #fff;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 20px;
  border-left: 3px solid rgb(131 197 132);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: transform 0.3s ease;
}

/* Info Container */
.info-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Make the container take up all available space */
  margin: 20px;
}

.info-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(131 197 132);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.info-heading h2 {
  margin: 0;
}


.info-user-details-box {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Info Section */
.info-section {
  margin-bottom: 20px;
}

.info-section-content {
  color: #333;
  line-height: 1.5;
}

.info-section-title {
  font-size: 18px;
  color: rgb(131 197 132);
  margin-bottom: 10px;
}



/* Task Info */
.task-info {
  flex: 1;
}

.task-info h2 {
  margin-bottom: 10px;
}

.task-info .description {
  color: #777;
  line-height: 1.4;
}

.task-info .owner {
  color: #777;
}

.link-general {
  text-decoration: none;
  color: inherit;
}


/* Edit and Delete Buttons */
.info-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

