/* Reset the default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation  */
nav {
  background-color: rgb(131 197 132);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: #faf9f6;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgb(255 255 255 / 10%);
  color: #ffffff;
}

/* User box */
.user-box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  padding: 20px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.user-box:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

/* User info  */
.user-info {
  flex: 1;
}

.user-info h2 {
  margin-bottom: 10px;
}

.user-info .description {
  color: #777;
  line-height: 1.4;
}

/* User tasks */
.user-tasks {
  flex: 1;
  text-align: right;
}

.user-tasks .task-count {
  margin-bottom: 10px;
  color: #777;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 5px;
  color: #333;
}

/* Task box */
.task-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  padding: 20px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  position: relative; /* Add this */
}

.task-box-unassigned {
  background-color: #d8bebe;
}

.task-box-assigned {
  background-color: #fff;
}

.task-box:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

/* Task info */
.task-info {
  flex: 1;
}

.task-info h2 {
  margin-bottom: 10px;
}

.task-info .description {
  color: #777;
  line-height: 1.4;
}

.task-info .owner {
  color: #777;
}

/* Assign User container */
.assign-user-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30%;
}

/* Assign User Component */
.unassigned-tasks-heading {
  color: #8b0000;
}

.section-separator {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 50px 50px;
}

.user-selector {
  width: 100%;
  height: 60%;
}

.user-selector select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 13.1%);
  font-size: 16px;
  color: #333;
  appearance: none;
}

.user-selector select:focus {
  border-color: #c29627;
  outline: none;
  box-shadow: 0 0 4px #98741a;
}

.user-selector button {
  padding: 10px 20px;
  margin-top: 6px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #c29627;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-selector button:hover {
  background-color: #98741a;
}

/* Create User button */
.create-user-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgb(131 197 132);
  color: #faf9f6;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  transition: 
   box-shadow 0.2s ease-in-out,
    background-color 0.3s ease;
}

.create-user-button:hover {
  background-color: #7ab63a;
  color: #ffffff;
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
}
