<nav>
  {{!-- Logo link to tasks --}}
  <LinkTo @route="tasks" class="logo">Task Manager</LinkTo>
  
  {{!-- Navigation links --}}
  <div class="nav-links">
    <LinkTo @route="tasks">Tasks</LinkTo>
    <LinkTo @route="users">Users</LinkTo>
    <LinkTo @route="audit">Audit</LinkTo>
  </div>
</nav>

{{outlet}}
